#next-button {
  
  padding: 10px 18px;
  background-color: #048683f1;
  color: #fff;
  border: none;
 border-radius: 10%;
 padding: 4%;
 cursor: pointer;
  transition: all 0.6s ease;
  font-weight: 500;
  margin-bottom: 1rem;
}   




  <progress max=100 value=0> </progress> 0%

        <h1 class="text-center"></h1>
 <div class="container">
     <p></p>
     <div class="progressbar-wrapper">
      <div title="downloaded" class="progressbar mp4">100%</div>
     </div>






     
:root {
  --success: #00b894;
  --progress: red;
}

.progressbar-wrapper {
  background-color: #e5e7e8;
  color: white;
  border-radius: 15px;
  width: 100%;
}

.progressbar {
  background-color: var(--progress);
  color: white;
  padding: 1rem;
  text-align: right;
  font-size: 15px;
  border-radius: 15px;
}
.mp3 {
  width: 60%;
}